/* Changement pour tout les div */
div {
    display: flex;
}

/* Gestion de direction avec FlexBox */
#partieS, #partieP, #aPropos, #contact, #loisir, #formation, #recommandation, #experience, .organisation, .experienceX, .recommandationX, .contactX, .info{
    flex-direction: column;
}

#formation1, #formation2, #conteneurP{
    flex-direction: row;
}

/* Conteneur Principal */
#conteneurP{
    width: 100%;
    max-width: 1190px;
    margin-left: auto;
    margin-right: auto;
}

/* Partie Secondaire */
#partieS{
    width: 33%;
    min-width: 235px;
    background-color: #00BCD4;
}

/*Partie Principal */
#partieP{
    color: #212121;
    width: 67%;
    background-color: #ECEFF1;
    padding-left: 5%;
}

#photo{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2{
    background-color: #212121;
    color: #00BCD4;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
}

p{
    color: #212121;
    font-family: 'Nunito Sans', sans-serif;
}

.contactX p, #aPropos p{
    padding-left: 15%;
    padding-right: 15%;
}

/* Justifie le texte du "A propos" */
#justify{
    text-align: justify;
}

/* Gestion des icons Front Awesome */
.icons{
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5%;
    color: #212121;
}

/* Separe les icons, sinon ils sont collés */
.separe{
    margin-left: 5px;
    margin-right: 5px;
}

.gras, #sousTitre{
    font-weight: bold;
}

.info{
    text-align: justify;
    margin-right: 5%;
}

h1{
    font-size: 400%;
    margin-bottom: -10px;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 10%;
}

#nom{
    color: #00BCD4;
}

#formation{
    margin-top: 10%;
}

.date{
    min-width: 200px;
}

.categorieP{
    color: black;
    font-size: 35px;
    border-bottom: 2px solid #00BCD4;
    margin-right: 5%;
}
